.signup-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
}

.signup {
  padding: 20px;
  border-radius: 8px;
}

body {
  background-color: #95c2de;
}

.mainbody {
  background-color: #95c2de;
}

/*Search styling*/

.searchbody {
  background-color: #95c2de;
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

section.panel:last-of-type {
  padding-bottom: 0;
}

section.panel:first-of-type {
  border-top: none;
  padding-top: 0;
}

section.panel {
  width: 100%;
  display: block;
  padding: 30px 0;
  ;
}

div.results.flex.results {
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

div.results.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.card.v4.tight:first-of-type {
  margin-top: 0;
}

div.card.v4.tight {
  flex-wrap: wrap;
}

div.card.v4.tight {
  flex-wrap: wrap;
}

div.card.v4 {
  width: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.card {
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(227, 227, 227, 1);
  background-color: #fff;
}

div.card.v4+div.card {
  margin-top: 20px;
}

div.card.v4.tight>div.wrapper {
  display: flex;
  max-width: calc(100vw - 82px);
}

div.card.v4.tight div.image {
  min-width: 94px;
  width: 94px;
  height: 141px;
}

div.card.v4 div.image {
  width: calc(200px / 1.5);
  min-width: calc(200px / 1.5);
  height: 200px;
  box-sizing: border-box;
}

div.card.v4.tight div.image div.posterThumb {
  width: 100%;
  height: 100%;
}

div.card.v4 div.image div.posterThumb {
  width: 100%;
  height: 100%;
}

div.card.v4.tight div.image a {
  display: block;
  width: 100%;
  height: 100%;
}

div.card.v4.tight div.image img {
  min-width: 100%;
  width: 100%;
  height: 100%;
}

div.card.v4 div.details {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

div.card.v4 div.details div.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

div.card.v4.tight div.details div.overview {
  height: auto;
}

div.card.v4 div.details div.overview {
  margin-top: 20px;
}

div.card.v4.tight div.details div.overview p {
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

div.reverse div.white_column {
  padding-right: 0;
  padding-left: 30px;
}

div.white_column {
  width: calc(100vw - 80px - 268px);
  max-width: calc(1400px - 80px - 268px);
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding-right: 30px;
}

div.column_wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
}

div.column_wrapper div.content_wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.reverse div.grey_column {
  padding-left: 0;
  padding-right: 0;
  justify-content: flex-end;
}

div.grey_column {
  min-width: 260px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

div.column_wrapper div.settings_panel.no_margin {
  margin: 0;
}

div.column_wrapper div.settings_panel {
  display: block;
  box-sizing: border-box;
  min-width: 260px;
  width: 260px;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 8px;
  overflow: hidden;
}

div.column_wrapper div.settings_panel h3,
div.column_wrapper div.error_panel h3 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  font-weight: 600;
  padding: 20px;
  color: #fff;
}

.background_color.light_blue {
  background-color: #678798
}

div.column_wrapper ul.panel {
  box-sizing: border-box;
  padding: 8px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no_margin {
  margin: 0 !important;
}

div.column_wrapper ul.panel.with_counts li {
  display: inline-flex;
  justify-content: space-between;
}

div.column_wrapper ul.panel.with_counts li.selected {
  background: rgba(0, 0, 0, .08);
}

div.column_wrapper ul.panel.with_counts li.selected button {
  font-weight: 600;
}

div.column_wrapper ul.panel li {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
}

div.column_wrapper ul.panel.with_counts li button {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  background: transparent;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

div.column_wrapper ul.panel.with_counts li span {
  display: inline-flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0, 0, 0, .08);
  padding: 0px 10px;
  border-radius: 8px;
}

/*Meal Styling*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.info h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  display: block;
}

.youtube_link h3 {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  display: block;
}

.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.poster {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  border-radius: 25px;
  opacity: 1;
  backface-visibility: hidden;
  max-width: 350px;
}